[package]
org = "ballerinax"
name = "np"
version = "@toml.version@"
authors = ["Ballerina"]
keywords = ["natural programming", "ai"]
repository = "https://github.com/ballerina-platform/module-ballerinax-np"
license = ["Apache-2.0"]
distribution = "2201.11.0"

[platform.java21]
graalvmCompatible = true

[build-options]
observabilityIncluded = true

[[platform.java21.dependency]]
groupId = "io.ballerina.libx"
artifactId = "np-native"
version = "@toml.version@"
path = "../native/build/libs/np-native-@project.version@.jar"
