[package]
org = "ballerinax"
name = "np"
version = "0.1.4"
authors = ["Ballerina"]
keywords = ["natural programming", "ai"]
repository = "https://github.com/ballerina-platform/module-ballerinax-np"
license = ["Apache-2.0"]
distribution = "2201.11.0"

[platform.java21]
graalvmCompatible = true

[build-options]
observabilityIncluded = true

[[platform.java21.dependency]]
groupId = "io.ballerina.lib"
artifactId = "np-native"
version = "0.1.4"
path = "../native/build/libs/np-native-0.1.4-SNAPSHOT.jar"
